:root{
    --primary: #e13775;
    --secondary: #bbb0b0;
    --border: #ddd;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;

}
.container {
   width: 360px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}
h1 {
    text-align: center;
    color: var(--primary);
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tabs button {
    flex: 1;
    margin: 0 5px;
    padding: 8px;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input,
.form select,
.form button {
  margin-bottom: 12px;
  padding: 10px;
}
.hidden {
  display: none;
}
